{% extends 'base.html' %}
{% block content %}
<div class="text-center mt-5">
    <h1 class="mt-4 mb-3">Expo Técnica 2025 - Prácticas para Pruebas Estandarizadas</h1>
    <div class="text-center mb-4">
        <img src="/static/ppe_logo.png" alt="Logo PPE" style="max-width: 250px; width: 100%; height: auto;">
    </div>
    <p class="lead">Plataforma educativa para estudiantes de duodécimo del CTP Quepos. Practica, aprende y mejora tus resultados en pruebas estandarizadas.</p>
    <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a href="/exam" class="btn btn-success btn-lg">Simulacros</a>
        <a href="/questions" class="btn btn-info btn-lg">Banco de preguntas</a>
        <a href="/results" class="btn btn-warning btn-lg">Resultados</a>
    </div>
</div>
{% endblock %}
